@mixin main($color: $lightColor) {
  #main {
    transition: margin 0.3s;
    color: textColor($color);
    margin: 0 auto;
    max-width: 60em;
    > .slide {
      &.entered {
        @include slide-in-bottom(0.8s);
        .nav {
          @include focus-in(0.1s, 0.7s);
          display: flex;
        }
      }
      &.entering {
        position: absolute;
        opacity: 0;
      }
      &.exiting {
        @include slide-out-bottom(0.6s);
      }
    }
  }
  #contentWrap {
    border-radius: 0 0 $borderRadius $borderRadius;
    > .content {
      box-shadow: $boxShadow;
      border-radius: $borderRadius;
      padding: 1.8em;
      background-color: $color;
      margin-bottom: 2em;
      &.first {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
      &.otherColor {
        background-color: $color;
      }
    }
  }
}
