@mixin about-page($color: $lightColor) {
  .about-article {
    &.about-me {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 2em;
    }
    h2 {
      margin-bottom: 0.7em;
    }
    ul,
    li {
      list-style: none;
      margin: 0.7em 1em;
    }
    .profile {
      margin-top: 2em;
      width: 7em;
      border-radius: 100%;
      box-shadow: $boxShadow2;
      border: 4px solid subTextColor($color);
    }
  }

  .languages-tools-list {
    list-style: none;
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0;
    > li {
      font-size: 0.8em;
      display: flex;
      align-items: center;
      flex-direction: column;
      > svg {
        margin-bottom: 0.4em;
        width: 3em;
      }
    }
  }

  .contact-channel-list {
    margin: 0;
    label {
      white-space: nowrap;
    }
    a {
      border-radius: $borderRadius;
      padding: 0.2em 0.5em;
      text-decoration: none;
      color: textColor($color);
      width: auto;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      transition: background-color 0.4s, color 0.4s;
      @include hover {
        color: $color;
        background-color: lighten(subTextColor($color), 40%);
      }
    }
    > li {
      display: flex;
      align-items: center;
    }
  }

  .contact-channel-wrap {
    display: flex;
    border-radius: 100%;
    border: 4px solid textColor($color);
    min-width: 2em;
    width: 2em;
    height: 2em;
    align-items: center;
    justify-content: center;
    margin-right: 0.5em;
    > svg {
      width: 1em;
    }
  }
}
