.hello {
  width: 100%;
  text-align: center;
}

.about-title {
  display: flex;
  align-items: center;
  > svg {
    height: 1.5em;
    margin-right: 0.5em;
  }
  margin-bottom: 0.2em;
}

.work-experience-txt {
  margin: {
    top: 0.8em;
    bottom: 1.5em;
  }
}

@mixin HyeokjaeLee-page($color: $lightColor) {
  .portfolio {
    font-weight: 200;
    padding: 1em 2em;
    padding-bottom: 5em;
    .profile {
      width: 9em;
      border-radius: $borderRadius;
    }
    h2 {
      margin-top: 2em;
      margin-bottom: 1em;
      font-weight: normal;
    }
    h3 {
      font-size: 1.1em;
      margin-bottom: 0.5em;
      font-weight: normal;
    }
    .content-wrap {
      display: flex;
      gap: 2em;
      > .content-title {
        width: 10em;
      }
      ul {
        margin-left: 1.5em;
      }
    }
    .description {
      margin-bottom: 0.8em;
    }

    .contact-channel-list {
      > li {
        margin-bottom: 0.7em;
        svg {
          height: 1.5em;
          min-width: 1.5em;
          margin-right: 0.5em;
        }
        a {
          margin-left: 0.5em;
        }
      }
    }
    .stack-wrap {
      display: flex;
      gap: 0.5em;
      margin-bottom: 0.5em;
      > svg {
        height: 1em;
      }
    }
    .project-info {
      font-size: 0.9em;
      font-weight: 400;
      &.margin-top {
        margin-top: 0.5em;
      }
    }
    hr {
      background-color: lighten(textColor($color), 70%);
      height: 1px;
    }
    .project-link {
      display: flex;
      align-items: center;
      gap: 0.5em;

      > svg {
        height: 1em;
        min-width: 1em;
        padding-top: 0.2em;
      }
    }
    a {
      word-break: break-all;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
