ul {
  text-align: left;
}
#posts {
  list-style: none;
  padding: 0;
  color: rgb(116, 108, 108);
  > li {
    padding: 0;
    background-color: #7682d0;
    > a {
      > ul {
        background-color: white;
        width: 100%;
        border-bottom: #d1d1d1 solid 1px;
        margin: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        transition: margin-left 0.2s, background-color 0.2s;
        padding: 0.5em 1em;
        > li {
          margin: 0;
          text-align: left;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        > :nth-child(2) {
          font-weight: 600;
          font-size: x-large;
        }
      }
      > ul:hover {
        margin-left: 0.5em;
        background-color: #f7f7f7;
      }
    }
  }
}

.tags {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: left;
  > li {
    font-size: smaller;
    display: flex;
    background-color: #7682d0;
    color: white;
    border: #d1d1d1 solid 1px;
    text-align: center;
    margin: 0.2em;
    padding: 0 0.8em 0.2em 0.8em;
    border-radius: 1em;
  }
}

#tags {
  justify-content: center;
  > li {
    font-size: 1em;
    background-color: white;
    color: black;
    margin: 0.5em;
    transition: background-color 0.5s;
    a {
      border-bottom: none;
    }
  }
  > li:hover {
    background-color: #f7f7f7;
  }
}
