@mixin about-page($color: $lightColor) {
  .about {
    font-weight: 200;
    padding: 0 1em;
    padding-bottom: 4em;
    .profile {
      width: 9em;
      border-radius: $borderRadius;
    }
    h2 {
      margin-top: 2em;
      margin-bottom: 1em;
      font-weight: normal;
    }
    h3 {
      font-size: 1.1em;
      margin-bottom: 0.5em;
      font-weight: normal;
    }
    .content-wrap {
      margin: 0 0.5em;
      display: flex;
      flex-wrap: wrap;
      gap: 2em;
      > .content-title {
        width: 10em;
      }
      ul {
        margin-left: 1.5em;
      }
    }
    .description {
      margin-bottom: 0.8em;
    }

    .content-list {
      flex: 1;
      min-width: 15em;
    }
    .contact-channel-list {
      margin-left: 0.5em;
      list-style: none;
      > li {
        display: flex;
        align-items: center;
        margin-bottom: 0.7em;
        svg {
          height: 1.5em;
          min-width: 1.5em;
          margin-right: 0.5em;
        }
      }
    }
    .stack-wrap {
      display: flex;
      gap: 0.5em;
      margin-bottom: 0.5em;
      > svg {
        height: 1em;
      }
    }
    .project-info {
      font-size: 0.9em;
      font-weight: 400;
      &.margin-top {
        margin-top: 0.5em;
      }
    }
    hr {
      background-color: lighten(textColor($color), 70%);
      height: 1px;
    }
    .project-link {
      display: flex;
      align-items: center;

      > svg {
        height: 1em;
        min-width: 1em;
        padding-top: 0.2em;
        margin-right: 0.5em;
      }
    }
    a {
      margin: 0 0.5em;
      word-break: break-all;
      background-color: subColor($color);
      font-size: 0.7em;
      padding: 0.1em 0.5em;
      border-radius: $borderRadius;
      transition: color 0.2s, background-color 0.2s;
      @include hover {
        background-color: textColor($color);
        color: $color;
      }
    }
  }
  .languages-tools-list {
    flex: 1;
    list-style: none;
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 1em;
    > li {
      font-size: 0.8em;
      display: flex;
      align-items: center;
      flex-direction: column;
      > svg {
        margin-bottom: 0.4em;
        width: 3em;
      }
    }
  }
}
