@mixin index($color: $lightColor) {
  .posts {
    list-style: none;
    h2 {
      font-weight: 600;
    }
    a {
      margin-bottom: 0.5em;
      border-radius: $borderRadius;
      display: flex;
      text-decoration: none;
      transition: padding-left 0.4s;
      &:link {
        background-color: textColor($color);
      }
      &:visited {
        background-color: subTextColor($color);
      }
      @include hover {
        color: subTextColor($color);
        padding-left: 0.5em;
      }
      > div {
        padding: 1em;
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: $color;
        border-bottom: 1.5px solid subColor($color);
        > p {
          font-weight: normal;
          padding-left: 0.2em;
        }
        > i {
          font-size: 0.9em;
        }
      }
    }
  }

  .emptyPost {
    padding: 3em 0;
    text-align: center;
    > .icon {
      font-size: 3em;
    }
    > h1 {
      margin-bottom: 1em;
    }
  }
  .pageNav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    > a {
      margin: 0 0.5em;
      display: flex;
      width: 2em;
      height: 2em;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
      border: 1px solid subColor($color);
      transition: background-color 0.2s, color 0.2s;
      @include hover {
        background-color: subTextColor($color);
        color: $color;
      }
      &.arrow {
        border: none;
      }
      &.hide {
        visibility: hidden;
      }
      &.currentPage {
        background-color: textColor($color);
        color: $color;
      }
      > .arrow-svg {
        margin-top: 0.1em;
        height: 1.5em;
      }
    }
  }

  .tags {
    font-weight: lighter;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    font-size: 0.8em;
    > * {
      padding: {
        left: 0.7em;
        right: 0.7em;
        top: 0.2em;
        bottom: 0.3em;
      }
      border-radius: 1em;
    }

    &.all-posts {
      margin: 0 15%;
      justify-content: center;
      > * {
        transition: background-color 0.3s, color 0.3s;
        border: 1px solid textColor($color);
        @include hover {
          background-color: subColor($color);
        }
        @include checked($color);
      }
    }
    &.each-post {
      list-style: none;
      &.on-index {
        margin-top: 0.5em;
        @include each-post($color);
        > li {
          @include checked($color);
        }
      }
      &.in-nav {
        @include each-post(subColor($color));
      }
    }
  }
}

@mixin each-post($color: $lightColor) {
  > li {
    color: textColor($color);
    background-color: subColor($color);
  }
}

@mixin checked($color: $lightColor) {
  &.checked {
    color: $color;
    background-color: subTextColor($color);
  }
}
