@import "../libs/vars.scss";
@font-face {
  font-family: "NotoSans";
  src: url("../../fonts/noto-sans-kr-v13-korean-100.woff");
  font-weight: 100;
}

*,
body,
div,
ul,
li {
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

html {
  color: #282c34;
  font-size: 20px;
  font-family: "NotoSans";
  overflow-x: hidden;
}
::-webkit-scrollbar {
  background-color: #5f4d92;
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: #282c34;
}
body {
  height: 100vh;
  width: 100%;
  background: url(../../img/overlay.png),
    linear-gradient(90deg, rgba(227, 118, 130, 1), rgba(95, 77, 147, 1));
}
#header {
  color: #f3f2f8;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: {
    top: 15vh;
    bottom: 10vh;
  }
  flex-direction: column;
  > h1 {
    font-weight: 100;
  }
  > p {
    color: #d3c0d6;
  }
}
#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15rem;
  > p {
    font-size: smaller;
    color: #e3c0c6;
  }
}
#contents {
  background-color: white;
  margin: {
    left: 10%;
    right: 10%;
  }

  @extend .border-radius;
  @extend .box-shadow;

  > section {
    min-height: 300vh;
  }
}
.logo {
  margin: 2rem;
  background-color: #f3f2f8;
  padding: 1.2rem;
  height: 4rem;
  @extend.border-radius;
  @extend .box-shadow;
  @extend .bounce-in-top;
}

.slide {
  &.in {
    animation: slide-in-right $animationDuration cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
  &.ing {
    position: absolute;
    opacity: 0;
  }
  &.out {
    animation: slide-out-left $animationDuration cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  }
}
