@mixin about-page($color: $lightColor) {
  .about-text {
    padding-bottom: 0.2em;
    margin: {
      bottom: 2em;
    }
  }

  .about {
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
    justify-content: center;
    .profile-wrap {
      box-shadow: $boxShadow2 inset;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 2em;
      background-color: subColor($color);
      border-radius: $borderRadius;
      .name {
        margin-top: 0.5em;
      }
    }
    .text-wrap {
      flex: 1;
    }
    .profile {
      width: 12em;
      border-radius: 100%;
    }
    h2,
    h3,
    h4 {
      margin: {
        top: 1em;
        bottom: 0.5em;
      }
    }
    dl,
    ul,
    li {
      margin: 0 1em;
    }
    dt {
      margin-top: 1.5em;
    }
    .label {
      margin: 0.2em;
    }
    .icon {
      &.small {
        width: 1.7em;
        height: 1.7em;
        margin-right: 0.5em;
      }
    }
    .list {
      font-size: 0.8em;
      list-style: none;
      &.techStack {
        box-shadow: $boxShadow2 inset;
        margin: 1em;
        padding: 1em;
        border-radius: $borderRadius;
        background-color: subColor($color);
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        > li {
          margin: 0 0.2em;
        }
      }
      &.contactChannel {
        > li {
          display: flex;
          margin: 0.5em 0;
          a {
            border-radius: $borderRadius;
            padding: 0 0.7em;
            border: 1px solid subTextColor($color);
            background-color: subTextColor($color);
            color: $color;
            margin: 0 0.5em;
            transition: background-color 0.2s;
            @include hover {
              background-color: textColor($color);
            }
          }
        }
      }
    }
  }
}
