@mixin about-page($color: $lightColor) {
  .about-article {
    .profile {
      width: 7em;
      border-radius: $borderRadius;
      margin-right: 0.5em;
      box-shadow: $boxShadow;
      margin-bottom: 1em;
    }
    h2 {
      margin-bottom: 0.7em;
    }
    ul,
    li {
      margin: 0.7em 1em;
    }

    .contact-channel-list {
      margin: 0;
      .contact-channel-wrap {
        display: flex;
        border-radius: 100%;
        border: 4px solid textColor($color);
        min-width: 2em;
        width: 2em;
        height: 2em;
        align-items: center;
        justify-content: center;
        margin-right: 0.5em;
        > svg {
          width: 1em;
        }
      }
      label {
        white-space: nowrap;
      }
      a {
        border-radius: $borderRadius;
        padding: 0.2em 0.5em;
        text-decoration: none;
        color: textColor($color);
        width: auto;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        transition: background-color 0.4s, color 0.4s;
        @include hover {
          color: $color;
          background-color: lighten(subTextColor($color), 40%);
        }
      }
      > li {
        display: flex;
        align-items: center;
      }
    }
    .languages-tools-list {
      list-style: none;
      display: flex;
      gap: 1em;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      padding: 0;
      > li {
        font-size: 0.8em;
        display: flex;
        align-items: center;
        flex-direction: column;
        > svg {
          margin-bottom: 0.4em;
          width: 3em;
        }
      }
    }
  }
}
