@mixin index($color: $lightColor) {
  .posts {
    list-style: none;
    a {
      margin-bottom: 0.5em;
      border-radius: $borderRadius;
      display: flex;
      text-decoration: none;
      transition: padding-left 0.4s;
      &:link {
        background-color: textColor($color);
      }
      &:visited {
        background-color: subTextColor($color);
      }
      @include hover {
        color: subTextColor($color);
        padding-left: 0.5em;
      }
      > div {
        padding: 1em;
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: $color;
        border-bottom: 1.5px solid subColor($color);
        > p {
          padding-left: 0.2em;
        }
        > i {
          font-size: 0.9em;
        }
      }
    }
  }

  .emptyPost {
    padding: 3em 0;
    text-align: center;
    > .icon {
      font-size: 3em;
    }
    > h1 {
      margin-bottom: 1em;
    }
  }
  .pageNav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    > a {
      margin: 0 0.5em;
      display: flex;
      &.hide {
        visibility: hidden;
      }
      &.currentPage {
        border-bottom: 1px solid textColor($color);
      }
      > .arrow {
        margin-top: 0.1em;
        height: 1.5em;
      }
    }
  }

  .tags {
    font-weight: lighter;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    font-size: 0.8em;

    > * {
      padding: {
        left: 0.7em;
        right: 0.7em;
        top: 0.2em;
        bottom: 0.3em;
      }
      border-radius: 1em;
    }

    &.entire {
      margin: 0 15%;
      justify-content: center;
      > * {
        transition: background-color 0.3s, color 0.3s;
        border: 1px solid textColor($color);
        @include hover {
          background-color: subColor($color);
        }
        &.checked {
          color: textColor($color);
          background-color: subColor($color);
        }
      }
    }
    &.individuals {
      margin-top: 0.5em;
      list-style: none;
      > * {
        color: textColor($color);
        background-color: subColor($color);
        &.checked {
          color: $color;
          background-color: subTextColor($color);
        }
      }
    }
  }
}
