@mixin index($color: $lightColor) {
  #posts {
    list-style: none;
    a {
      padding: 0;
      margin-bottom: 0.5em;
      border-radius: $borderRadius;
      display: flex;
      text-decoration: none;
      transition: padding-left 0.2s, color 0.2s;
      &:link {
        color: lighten(invert($color), 10%);
        background-color: lighten(invert($color), 10%);
      }
      &:visited {
        color: lighten(invert($color), 30%);
        background-color: lighten(invert($color), 30%);
      }
      &:hover {
        color: lighten(invert($color), 40%);
        padding-left: 0.5em;
      }
      > div {
        padding: 1em;
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: lighten($color, 30%);
        border-bottom: 1.5px solid $mediumColor;
        .date {
          font-style: italic;
          font-size: smaller;
        }
      }
    }
  }

  .tags {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.2em;
    > li {
      padding: 0.1em 0.5em 0.2em 0.5em;
      border-radius: 2em;
      margin: 0.3em 0.2em;
    }
    &.entire {
      margin : {
        left: 10%;
        right: 10%;
      }
      justify-content: center;
      > li {
        font-size: 0.9em;
        border: 1px solid $mediumColor;
        transition: background-color 0.3s;
        cursor: pointer;
        &:hover,
        &.checked {
          background-color: lighten(invert($color), 50%);
          color: $color;
        }
      }
    }
    &.individuals {
      > li {
        font-size: small;
        background-color: lighten(invert($color), 15%);
        color: $color;
        transition: background-color 0.5s;
        &.checked {
          background-color: lighten(invert($color), 50%);
          color: $color;
        }
      }
    }
  }
}

.emptyPost {
  padding: 3em 0;
  text-align: center;
  > .icon {
    font-size: 3em;
  }
  > h1 {
    margin-bottom: 1em;
  }
}
