@mixin index($color: $lightColor) {
  #posts {
    list-style: none;
    a {
      margin-bottom: 0.5em;
      border-radius: $borderRadius;
      display: flex;
      text-decoration: none;
      transition: padding-left 0.2s;
      &:link {
        background-color: textColor($color);
      }
      &:visited {
        background-color: subTextColor($color);
      }
      @include hover {
        color: subTextColor($color);
        padding-left: 0.5em;
      }

      > div {
        padding: 1em;
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: $color;
        border-bottom: 1.5px solid subColor($color);
        > p {
          padding-left: 0.2em;
        }
        > i {
          font-size: 0.9em;
        }
      }
    }
  }

  .tags {
    font-weight: lighter;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.2em;
    > li {
      padding: 0.1em 0.5em 0.2em 0.5em;
      border-radius: 2em;
      margin: 0.3em 0.2em;
    }
    &.entire {
      margin : {
        left: 10%;
        right: 10%;
      }
      justify-content: center;
      > li {
        font-size: 0.9em;
        border: 1px solid subTextColor($color);
        transition: background-color 0.3s;
        cursor: pointer;

        &.checked {
          background-color: subTextColor($color);
          color: $color;
        }
        @include hover {
          background-color: subTextColor($color);
          color: $color;
        }
      }
    }
    &.individuals {
      > li {
        font-size: small;
        background-color: textColor($color);
        color: $color;
        transition: background-color 0.5s;
        &.checked {
          background-color: subTextColor($color);
        }
      }
    }
  }
  .emptyPost {
    padding: 3em 0;
    text-align: center;
    > .icon {
      font-size: 3em;
    }
    > h1 {
      margin-bottom: 1em;
    }
  }
}
