@mixin markdown-page($color: $lightColor) {
  #otherContents {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 0.9em;
    > a {
      padding: 10px;
      display: flex;
      flex: 1;
      align-items: center;
      transition: padding 0.3s, background-color 0.3s;
      border-radius: $borderRadius;
      @include hover {
        background-color: subColor($color);
      }

      &.left {
        text-align: left;
        justify-content: flex-start;
        @include hover {
          padding: {
            left: 0;
            right: 20px;
          }
        }
      }
      &.right {
        text-align: right;
        justify-content: flex-end;
        @include hover {
          padding: {
            left: 20px;
            right: 0;
          }
        }
      }
    }
    .arrow {
      height: 2em;
      width: 2em;
      margin: 0 1.5em;
    }
  }
  #md-article {
    .svg-wrap {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2.5em;
      font-weight: 900;
      svg {
        border: 1px solid subColor($color);
        padding: 0.2em;
        border-radius: $borderRadius;
        background-color: textColor($color);
        margin: {
          bottom: 0.35em;
          left: 0.1em;
          right: 0.1em;
        }
        fill: $color;
        width: 1em;
      }
    }
    svg {
      display: block;
      width: 2.5em;
    }

    img {
      position: relative;
      border-radius: $borderRadius;
      border: 1px solid subColor($color);
      padding: 0.1em;
      display: block;
      box-sizing: border-box;
    }
    p {
      img {
        width: 100%;
      }
    }

    align-items: center;

    > header {
      p {
        font-size: smaller;
      }
      margin-bottom: 1em;
    }
    > section {
      a {
        border-bottom: 1px solid textColor($color);
        margin: 0;
        padding: 0;
        transition: background-color 0.3s;
        @include hover {
          background-color: subColor($color);
        }
      }
      ul,
      li {
        margin-top: 0.5em;
        margin-left: 0.9em;
      }
      code {
        font-size: 0.9em;
        background-color: subColor($color);
        padding: 0.2em 0.4em;
        margin: 0 0.1em;
        border-radius: $borderRadius;
      }
      table {
        border-collapse: collapse;
        word-break: break-all;
        max-width: 100%;
      }
      tr,
      th,
      td {
        padding: 0.2em 0.5em;
        border: 1px solid textColor($color);
      }
      th {
        text-align: center;
        color: $color;
        background-color: textColor($color);
      }
    }
    > footer {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-top: 2em;
      padding: 1.5em;
      flex-wrap: wrap;
      > .profile {
        &.pic {
          box-shadow: $boxShadow inset;
          width: 5em;
          height: 5em;
          border-radius: 5em;
        }
        &.text {
          white-space: nowrap;
          flex-direction: column;
          text-align: center;
          > h1 {
            font-weight: normal;
          }
          font-weight: lighter;
          margin: 0.5em 2em;
        }
      }
    }
    .descriptionPic {
      font-size: 0.9em;
      color: subTextColor($color);
    }
  }
}
