@mixin markdown-page($color: $lightColor) {
  .post {
    @include if-not-small-device {
      padding: 0 1em;
    }
    * {
      box-sizing: border-box;
    }
    position: relative;
    //헤더
    > header {
      margin: {
        top: 1em;
        bottom: 4em;
      }
      .posted-on {
        font-style: italic;
        text-align: center;
        width: 100%;
        font-weight: 100;
        font-size: 1.1em;
      }
      .description {
        text-align: center;
        margin-top: 0.5em;
        color: txtColor($color);
        background-color: subColor($color);
        padding: 0.1em;
        border-radius: $borderRadius;
      }
    }
    //본문
    > section {
      line-height: 1.8em;
      .img-txt-wrap {
        margin: 0.5em 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        .img-wrap {
          display: flex;
          flex-direction: column;

          align-items: center;
          img {
            padding: 0.5em;
            margin: 0.2em;
          }
        }
        .txt-wrap {
          flex: 1;
        }
      }
      .img {
        &.large {
          width: 100%;
        }
      }
      img {
        max-width: 100%;
        border-radius: $borderRadius;
        border: 1px solid subColor($color);
      }
      svg {
        padding: 0.5em;
        background-color: subColor($color);
        width: 2em;
        margin-right: 0.5em;
        fill: textColor($color);
        border-radius: $borderRadius;
      }
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        margin: {
          top: 1em;
          bottom: 0.5em;
        }
        display: flex;
        align-items: center;
      }
      h2 {
        border-radius: $borderRadius;
        border-left: 0.3em solid textColor($color);
        padding: 0 0.3em;
      }
      a {
        font-weight: bolder;
        border-bottom: 2px solid subColor($color);
        margin: 0;
        padding: 0 0.3em;
        transition: background-color 0.3s;
        @include hover {
          background-color: subColor($color);
        }
        border-top-left-radius: $borderRadius;
        border-top-right-radius: $borderRadius;
      }
      ul,
      li {
        margin-top: 0.5em;
        margin-left: 0.9em;
      }
      deckgo-highlight-code {
        margin: 1em 0;
      }
      code {
        font-size: 0.9em;
        background-color: subColor($color);
        padding: 0.2em 0.4em;
        margin: 0 0.1em;
        border-radius: $borderRadius;
      }
      table {
        border-collapse: collapse;
        word-break: break-all;
        max-width: 100%;
        margin: 1em 0;
      }
      tr,
      th,
      td {
        padding: 0.2em 0.5em;
        border: 1px solid textColor($color);
      }
      th {
        text-align: center;
        color: $color;
        background-color: textColor($color);
      }
    }
    > footer {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-top: 2em;
      padding: 1.5em;
      flex-wrap: wrap;
      > .profile {
        &.pic {
          box-shadow: $boxShadow inset;
          width: 5em;
          height: 5em;
          border-radius: 5em;
        }
        &.text {
          white-space: nowrap;
          flex-direction: column;
          text-align: center;
          > h1 {
            font-weight: normal;
          }
          font-weight: lighter;
          margin: 0.5em 2em;
        }
      }
    }
    .descriptionPic {
      font-size: 0.9em;
      color: subTextColor($color);
    }
  }
  #otherContents {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 0.9em;
    > a {
      padding: 10px;
      display: flex;
      flex: 1;
      align-items: center;
      transition: padding 0.3s, background-color 0.3s;
      border-radius: $borderRadius;
      @include hover {
        background-color: subColor($color);
      }

      &.left {
        text-align: left;
        justify-content: flex-start;
        @include hover {
          padding: {
            left: 0;
            right: 20px;
          }
        }
      }
      &.right {
        text-align: right;
        justify-content: flex-end;
        @include hover {
          padding: {
            left: 20px;
            right: 0;
          }
        }
      }
    }
    .arrow {
      height: 2em;
      width: 2em;
      margin: 0 1.5em;
    }
  }
}
