@import "../libs/libs-index.scss";
#contents {
  ul {
    list-style: none;
  }
}
#posts {
  a {
    display: flex;
    text-decoration: none;
    transition: padding-left 0.3s;
    &:link {
      color: $darkMainColor1;
      background-color: $bgColor1;
    }
    &:visited {
      color: $darkMainColor2;
      background-color: $bgColor2;
    }
    &:hover {
      padding-left: 0.5em;
    }
    > div {
      padding: 1em;
      width: 100%;
      display: flex;
      flex-direction: column;
      background-color: $whiteMainColor1;
      border-bottom: 1px solid $middleColor;
      .date {
        font-size: smaller;
        color: $middleColor;
      }
    }
  }
}

.tags {
  display: flex;
  margin-top: 0.5em;
  > li {
    font-weight: lighter;
    font-size: small;
    padding: 0.1em 0.5em 0.2em 0.5em;
    background-color: $bgColor1;
    border-radius: 2em;
    margin: 0 0.2em;
    color: $whiteMainColor1;
  }
}
