#footer {
  font-weight: lighter;
  margin: 7em 0;
  text-align: center;
  color: subColor($lightColor);
  h3 {
    font-weight: 100;
  }
  .copyright {
    font-size: 0.7em;
  }
  .icon-list {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 1em;
    a {
      margin: 0.2em 0.5em;
      display: block;
      padding: 0.5em;
      border: 1px solid $lightColor;
      border-radius: 2em;
      height: 1.2em;
      width: 1.2em;
      transition: background-color 0.4s;
      @include hover {
        background-color: rgba(subColor($lightColor), 0.5);
      }
    }
    p {
      font-size: x-small;
    }
    .icon {
      fill: $lightColor;
    }
  }
}
