#main {
  margin: {
    left: 10%;
    right: 10%;
  }
  border-radius: $borderRadius;
  box-shadow: $boxShadow;
  > #contents {
    padding: 1em;
  }
}

@mixin main($color: $lightColor) {
  #main {
    color: lighten(invert($color), 30%);
    background-color: lighten($color, 30%);
  }
}

.slide {
  &.in {
    @include slide-in-right(0.4s);
  }
  &.ing {
    position: absolute;
    opacity: 0;
  }
  &.out {
    @include slide-out-left(0.4s);
  }
}
