@mixin main($color: $lightColor) {
  #main {
    color: lighten(invert($color), 30%);
    margin: 0 10%;
    @include if-small-device {
      margin: 0 3%;
    }

    > .slide {
      &.in {
        @include slide-in-bottom(0.6s);
      }
      &.ing {
        position: absolute;
        opacity: 0;
      }
      &.out {
        @include slide-out-bottom(0.6s);
      }
    }
  }
  #contentWrap {
    border-radius: 0 0 $borderRadius $borderRadius;
    > .content {
      box-shadow: $boxShadow;
      border-radius: $borderRadius;
      padding: 1.8em;
      background-color: lighten($color, 30%);
      margin-bottom: 2em;
      &.first {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
    }
  }
}
