@mixin main($color: $lightColor) {
  #main {
    color: lighten(invert($color), 30%);
    margin: 0 10%;
    @media screen and (max-width: $mobileWidth) {
      margin: 0 2%;
    }
    > .slide {
      &.in {
        @include slide-in-right(0.4s);
      }
      &.ing {
        position: absolute;
        opacity: 0;
      }
      &.out {
        @include slide-out-left(0.4s);
      }
    }
  }
  #contentWrap {
    border-radius: 0 0 $borderRadius $borderRadius;
    > .content {
      box-shadow: $boxShadow;
      border-radius: $borderRadius;
      padding: 1.8em;
      background-color: lighten($color, 30%);
      &.first {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
    }
  }
}
