@mixin nav($color: $lightColor) {
  .nav {
    border-top-left-radius: $borderRadius;
    border-top-right-radius: $borderRadius;
    box-shadow: $boxShadow;
    background-color: subColor($color);
    z-index: 2;
    @include if-mobile {
      font-size: 1.1em;
    }
    padding: 0.5em;
    flex-wrap: wrap;
    position: sticky;
    top: -$borderRadius;
    display: flex;
    .nav-item {
      display: flex;
      flex-wrap: nowrap;
      flex: 1;
      align-items: center;
      &.link {
        justify-content: flex-end;
        > li {
          display: inline-block;
        }
      }
    }
    a {
      border-radius: $borderRadius;
      padding: 0.5em 1em;
      font-weight: lighter;
      display: block;
      text-decoration: none;
      transition: background-color 0.4s;
      @include hover {
        background-color: $color;
      }
      &:visited {
        color: textColor($color);
      }
    }
  }
}
.nav-padding {
  height: 0.5em;
  &.top {
    border-top-left-radius: $borderRadius;
    border-top-right-radius: $borderRadius;
  }
}
