@mixin nav($color: $lightColor) {
  .nav,
  .nav-padding {
    z-index: 2;
    border-style: hidden;
    background-color: $color;
  }
  .nav {
    padding: 0.2em 1em;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    display: flex;
    .nav-item {
      display: flex;
      flex-wrap: nowrap;
      flex: 1;
      align-items: center;
      &.link {
        justify-content: flex-end;
        > li {
          display: inline-block;
        }
      }
    }
    a {
      color: lighten(invert($color), 40%);
      border-radius: $borderRadius;
      padding: 0.3em 1em;
      font-weight: lighter;
      cursor: pointer;
      display: block;
      text-decoration: none;
      transition: background-color 0.3s;
    }
    a:hover {
      background-color: lighten($color, 4%);
    }
  }
}
.nav-padding {
  height: 0.5em;
  &.top {
    border-top-left-radius: $borderRadius;
    border-top-right-radius: $borderRadius;
  }
}
