@mixin nav($color: $lightColor) {
  .nav,
  .nav-padding {
    z-index: 2;
    border-style: hidden;
    background-color: $color;
  }
  .nav {
    padding: 0.2em 1em;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    display: flex;
    .nav-item {
      display: flex;
      flex-wrap: nowrap;
      flex: 1;
      align-items: center;
      &.link {
        justify-content: flex-end;
        > li {
          display: inline-block;
        }
      }
    }
  }
}
.nav-padding {
  height: 0.5em;
  &.top {
    border-top-left-radius: $borderRadius;
    border-top-right-radius: $borderRadius;
  }
}
