@mixin theme-switch($color: $lightColor) {
  .theme-switch {
    padding: 0;
    position: absolute;
    right: 0;
    background-color: subColor($color);
    width: 3.5em;
    height: 2em;
    border: none;
    border-radius: 2em;
    margin: 1em;
    > .ball {
      background-color: textColor($color);
      height: 1.6em;
      width: 1.6em;
      border-radius: 1.5em;
      margin: 0.2em;
      transition: transform 0.6s;
      &.dark {
        transform: translateX(1.5em);
      }
    }
  }
}
