@import "../libs/libs-index.scss";

#footer {
  font-weight: lighter;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15rem;
  > p {
    font-size: smaller;
    color: $lightColor;
  }
}
