@import "../libs/libs-index.scss";
@import "../../fonts/font.css";

#header {
  color: #f3f2f8;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: {
    top: 15vh;
    bottom: 10vh;
  }
  flex-direction: column;
  > h1 {
    font-weight: 100;
  }
  > p {
    color: #d3c0d6;
  }
}
#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15rem;
  > p {
    font-size: smaller;
    color: #e3c0c6;
  }
}
#contents {
  background-color: $whiteMainColor1;
  margin: {
    left: 10%;
    right: 10%;
  }
  border-radius: $borderRadius;
  box-shadow: $boxShadow;
  > section {
    min-height: 300vh;
  }
}
.logo {
  margin: 2rem;
  background-color: #f3f2f8;
  padding: 1.2rem;
  height: 4rem;
  border-radius: $borderRadius;
  box-shadow: $boxShadow;
  @include bounce-in-top(1s, 1s);
}

.slide {
  &.in {
    @include slide-in-right(0.6s);
  }
  &.ing {
    position: absolute;
    opacity: 0;
  }
  &.out {
    @include slide-out-left(0.6s);
  }
}
