@import "../libs/libs-index.scss";

#main {
  background-color: $whiteMainColor1;
  margin: {
    left: 10%;
    right: 10%;
  }
  border-radius: $borderRadius;
  box-shadow: $boxShadow;
  > #contents {
    padding: 2rem;
  }
}

.slide {
  &.in {
    @include slide-in-right(0.4s);
  }
  &.ing {
    position: absolute;
    opacity: 0;
  }
  &.out {
    @include slide-out-left(0.4s);
  }
}
