.date {
  background-color: #c4c4c4;
  padding: 0.5em;
  border-radius: 0 0 0 3px;
  float: right;
}

.smallImg {
  position: relative;
  width: 20em;
  z-index: 1;
  margin: 0 auto;
}

#main {
  padding-bottom: 4em;
}
