@import "../fonts/font.css";
@import "./libs";

html {
  background: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin body($color) {
  box-sizing: border-box;
  margin: 0;
  padding: 3em 1em;
  word-break: keep-all;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  overflow: scroll;
  background: url(../img/overlay.png),
    linear-gradient(90deg, darken(rgba($color, 85%), 5%), rgba($color, 85%));
  backdrop-filter: blur(10px);
  .flex1 {
    flex: 1;
  }

  #header {
    max-width: 60em;
    margin: {
      top: 0;
      right: auto;
      bottom: 3em;
      left: auto;
    }
    padding: 0 1em;
    position: sticky;
    top: -2em;
    display: flex;
    gap: 1em;
    z-index: 5;
    box-sizing: border-box;
  }
  .site-title {
    height: 1.6em;
    padding: 0.2em;
    border-radius: $BORDER_RADIUS;
    display: flex;
    align-items: center;
    justify-content: center;
    > h1 {
      padding: {
        top: 0.2em;
        bottom: 0.3em;
        left: 0.4em;
        right: 0.4em;
      }
      border-radius: 10px;
      border: 2px solid textColor($color);
      color: textColor($color);
      font-weight: 100;
      font-size: 1.2em;
    }
  }
  #nav-menu-button {
    border-radius: 100%;
    border: none;
    background-color: $CLEAR_COLOR;
    display: flex;
    width: 2em;
    height: 2em;
    svg {
      fill: subTextColor($color);
    }
  }
}

body {
  @include body($lightColor);
  &.dark {
    @include body($darkColor);
  }
}
