@import "libs";

@mixin header($color: $LIGHT_COLOR) {
  position: fixed;
  height: 3.5em;
  background: linear-gradient($color, rgba($color, 80%));
  top: 0;
  padding: 0.5em 1em;
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0;
  transition: background-color 0.2s linear, box-shadow 0.2s linear;
  > .scroll-location-wrap {
    @include fade-out(0.2s);
    flex: 1;
    margin: 0 1em;
    display: flex;
    justify-content: center;
    > {
      progress {
        width: 100%;
        max-width: 30em;
        -webkit-appearance: none;
        border-radius: 30em;
        height: 3px;
        overflow: hidden;
      }
      ::-webkit-progress-bar {
        background-color: subColor($color);
      }

      ::-webkit-progress-value {
        background-color: subTextColor($color);
      }
    }
  }
  &.scrolling {
    > .scroll-location-wrap {
      @include fade-in(0.2s);
    }
    box-shadow: $BOX_SHADOW;
  }
  &.menuOpened {
    box-shadow: none;
    .layer {
      @include fade-in(0.5s);
      visibility: visible;
    }
    .menu {
      @include slide-in-right(0.6s);
    }
    .menu-button > .line {
      background-color: $color;
      &.top {
        top: 50%;
        transform: rotate(45deg);
      }
      &.middle {
        @include fade-out(0.2s);
      }
      &.bottom {
        top: 50%;
        transform: rotate(-45deg);
      }
    }
  }
  .layer {
    z-index: 2;
    @include fade-out(0.5s);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background: rgba(textColor($color), 50%);
  }
  .menu {
    z-index: 3;
    float: right;
    box-shadow: $BOX_SHADOW2;
    padding: 1em 3.5em;
    height: 100vh;
    width: 100%;
    max-width: 30em;
    background-color: textColor($color);
    backdrop-filter: blur(0);
    color: $color;
    @include slide-out-right(0.6s);
  }
  .title {
    float: left;
    font-size: 1.3em;
    > span {
      font-weight: normal;
    }
  }
  .links {
    list-style: none;
    font-size: 1.5em;
    font-weight: bolder;
    > li {
      border-radius: 10px;
      background-color: subTextColor($color);
    }
    a {
      transition: margin-left 0.2s linear;
      display: block;
      background: textColor($color);
      width: 100%;
      cursor: pointer;
      text-decoration: none;
      margin: 0.8em 0;
      padding: 0 0.4em;
      &:link {
        color: $color;
      }
      &:visited {
        color: subColor($color);
      }
      @include hover {
        margin-left: 0.5em;
      }
    }
  }
  .menu-button {
    z-index: 4;
    border: none;
    height: 1.2em;
    width: 1.5em;
    position: relative;
    background-color: $CLEAR_COLOR;
    > .line {
      padding: 0;
      width: 100%;
      height: 30%;
      border-radius: 2px;
      background-color: textColor($color);
      position: absolute;
      transition: all 0.3s linear;
      &.top {
        top: 0;
      }
      &.middle {
        @include fade-in(0.2s);
        top: 35%;
      }
      &.bottom {
        top: 70%;
      }
    }
  }
}

.header {
  @include header($LIGHT_COLOR);
}

.header-dark {
  @include header($DARK_COLOR);
}
