@import "libs";

@mixin header($color: $LIGHT_COLOR) {
  background-color: $color;
  height: 3.5em;
  display: flex;
  position: sticky;
  top: 0;
  > .logo {
    padding: 0.5em 1em;
  }
}

.header {
  @include header($LIGHT_COLOR);
}

.header-dark {
  @include header($DARK_COLOR);
}
