html,
body {
  font-size: 1.2em;
  padding: 0;
  margin: 0;
  font-family: bit, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  word-break: keep-all;
}
@font-face {
  font-family: "bit_bold";
  src: url("../public/font/PressStart2P-Regular.ttf");
}
@font-face {
  font-family: "bit";
  src: url("../public/font/neodgm_pro.woff");
}

body::-webkit-scrollbar {
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#container {
  height: 100vh;
  overflow: auto;
  scroll-snap-type: y mandatory;
  -ms-scroll-snap-type: mandatory;
  font-family: bit;
}

#container::-webkit-scrollbar {
  display: none;
}

#container > section {
  box-shadow: 0 -10px 20px -5px black;
  padding: 2vw;
  padding-top: 10vh;
  height: 100%;
  scroll-snap-align: start;
  -ms-scroll-snap-coordinate: 0 0;
  background-color: #282c34;
  color: white;
}

@media screen and (max-width: 700px) {
  #container {
    font-size: 2vw;
  }
}
