.title_container {
  min-width: 45vh;
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) 0.5s both;
  border-radius: 5px;
  overflow: hidden;
  width: 50%;
  height: 40vh;
  background-color: #f0edcc;
}

.main_title {
  width: 100%;
  height: 90%;
  padding: 5%;
  color: #02343f;
  font-size: 1.5vh;
}

.test {
  width: 10vh;
  height: 10vh;
  background: url("/img/char.gif");
  background-size: cover;
}
.main_title h1 {
  animation: tracking-in-expand 1s cubic-bezier(0.215, 0.61, 0.355, 1) 2s both;
  text-align: left;
}

.sub_title {
  width: 100%;
  height: 10%;
  padding: 5%;
  background-color: #bcb99f;
  color: #343148;
}

.title_text {
  text-align: center;
  animation: tracking-in-expand 1s cubic-bezier(0.215, 0.61, 0.355, 1) 2s both;
  display: inline;
  font-size: 2.5vh;
  margin: 4vh;
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.title_button {
  width: 80%;
  font-size: 1.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1vh;
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) 3s both;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#hexagon {
  width: 100px;
  height: 55px;
  background: pink;
  position: relative;
}
#hexagon:before {
  content: "";
  position: absolute;
  top: -25px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 25px solid pink;
}
#hexagon:after {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 25px solid pink;
}
