.container {
  min-height: 100vh;
  padding: 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-size: cover;
  background-attachment: fixed;
  font-family: "main_font";
  background-color: #02343f;
}

@font-face {
  font-family: "main_font";
  src: url(/font/neodgm.ttf) format("truetype");
}

.logo {
  height: 3vh;
  margin: 1vh;
}

.main {
  width: 90%;
  height: 100vh;
  padding: 5% 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  padding-top: 5vh;
  font-size: 1vh;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(
    to bottom,
    rgb(2, 52, 63) 20%,
    rgba(240, 237, 204, 1) 40%
  );
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}
