.gradient {
  background: linear-gradient(
    to bottom,
    rgb(0, 0, 0) 10%,
    rgba(255, 255, 255, 1) 80%
  );
  height: 2vh;
}

.navbar {
  width: 100%;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  padding-left: 1vh;
  padding-right: 1vh;
  box-shadow: 0 10px 20px -10px black;
  font-size: smaller;
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  z-index: 1;
}
.brand {
  font-size: 3vh;
  font-weight: 900;
}

.menu {
  background-color: transparent !important;
  background-image: none !important;
  border-color: transparent;
  border: none;
  color: #ffffff;
  font-weight: 100;
  font-size: large;
}

.menu:active {
  color: gray;
}
