/* noto-sans-kr-100 - korean */
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/noto-sans-kr-v13-korean-100.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/noto-sans-kr-v13-korean-100.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/noto-sans-kr-v13-korean-100.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("../fonts/noto-sans-kr-v13-korean-100.woff")
      format("woff"),
    /* Safari, Android, iOS */
      url("../fonts/noto-sans-kr-v13-korean-100.svg#NotoSansKR") format("svg"); /* Legacy iOS */
}
/* noto-sans-kr-300 - korean */
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/noto-sans-kr-v13-korean-300.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/noto-sans-kr-v13-korean-300.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/noto-sans-kr-v13-korean-300.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("../fonts/noto-sans-kr-v13-korean-300.woff")
      format("woff"),
    /* Safari, Android, iOS */
      url("../fonts/noto-sans-kr-v13-korean-300.svg#NotoSansKR") format("svg"); /* Legacy iOS */
}
/* noto-sans-kr-regular - korean */
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/noto-sans-kr-v13-korean-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/noto-sans-kr-v13-korean-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/noto-sans-kr-v13-korean-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/noto-sans-kr-v13-korean-regular.woff") format("woff"),
    /* Safari, Android, iOS */
      url("../fonts/noto-sans-kr-v13-korean-regular.svg#NotoSansKR")
      format("svg"); /* Legacy iOS */
}
/* noto-sans-kr-500 - korean */
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/noto-sans-kr-v13-korean-500.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/noto-sans-kr-v13-korean-500.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/noto-sans-kr-v13-korean-500.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("../fonts/noto-sans-kr-v13-korean-500.woff")
      format("woff"),
    /* Safari, Android, iOS */
      url("../fonts/noto-sans-kr-v13-korean-500.svg#NotoSansKR") format("svg"); /* Legacy iOS */
}

/* noto-sans-kr-700 - korean */
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/noto-sans-kr-v13-korean-700.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/noto-sans-kr-v13-korean-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/noto-sans-kr-v13-korean-700.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("../fonts/noto-sans-kr-v13-korean-700.woff")
      format("woff"),
    /* Safari, Android, iOS */
      url("../fonts/noto-sans-kr-v13-korean-700.svg#NotoSansKR") format("svg"); /* Legacy iOS */
}
/* noto-sans-kr-900 - korean */
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/noto-sans-kr-v13-korean-900.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/noto-sans-kr-v13-korean-900.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/noto-sans-kr-v13-korean-900.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("../fonts/noto-sans-kr-v13-korean-900.woff")
      format("woff"),
    /* Safari, Android, iOS */
      url("../fonts/noto-sans-kr-v13-korean-900.svg#NotoSansKR") format("svg"); /* Legacy iOS */
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font: 112.5%/1.45em "Noto Snas KR";
  box-sizing: border-box;
  overflow-y: scroll;
}
::-webkit-scrollbar {
  position: fixed;
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: #7e7e7e;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: hsla(0, 0%, 0%, 0.8);
  background: linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
  font-family: "Noto Snas KR";
  font-weight: 100;
}

header {
  padding: 10px;
  margin: 0.5em;
  a {
    font-weight: 100;
    color: white;
    text-decoration: none;
  }
}
