@import "./libs/libs-index.scss";
@import "../fonts/font.css";
*,
body,
div,
ul,
li {
  padding: 0;
  margin: 0;
}

html {
  color: $darkColor;
  font-size: 20px;
  font-family: "NotoSans";
  overflow-x: hidden;
  font-weight: regural;
}

@mixin switch($color: $darkColor) {
  .switch {
    position: absolute;
    right: 0;
    background-color: lighten(invert($color), 30%);
    width: 3.5em;
    height: 2em;
    border: none;
    border-radius: 2em;
    margin: 1em;
    > div {
      background-color: lighten($color, 20%);
      height: 1.6em;
      width: 1.6em;
      border-radius: 1.5em;
      margin: 0.2em;
      transition: transform 0.2s;
      &.dark {
        transform: translateX(1.5em);
      }
    }
  }
}

body {
  height: 100vh;
  width: 100%;
  background: url(../img/overlay.png), linear-gradient(90deg, lighten($darkColor, 15%), $darkColor);

  &::-webkit-scrollbar {
    background-color: $darkColor;
    width: 0.25em;
    height: 0.25em;
  }
  &::-webkit-scrollbar-thumb {
    background-color: lighten($darkColor, 5%);
  }
  @include switch;
  &.dark {
    @include switch($lightColor);
  }
}

//모바일 인터페이스 개선
a {
  -webkit-tap-highlight-color: transparent;
}
button:focus {
  border: none;
  outline: none;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }
  #main {
    margin: 0;
  }
}
