//libs scss
@import "./libs/_animations.scss";
@import "./libs/_vars.scss";
@import "../fonts/font.css";
//components scss
@import "./components/_footer.scss";
@import "./components/_header.scss";
@import "./components/_main.scss";
@import "./components/_nav.scss";
@import "./components/theme-switch";
//pages scss
@import "./pages/_index.scss";
@import "./pages/_markdown.scss";

//다크모드 지원
@mixin theme($color: $lightColor) {
  //components
  @include header($color);
  @include main($color);
  @include nav($color);
  @include theme-switch($color);
  //pages
  @include index($color);
  a {
    &:link {
      color: lighten(invert($color), 10%);
    }
    &:visited {
      color: lighten(invert($color), 30%);
    }
    &:hover {
      color: lighten(invert($color), 40%);
    }
  }
}

* {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  max-height: 40em;
}

html {
  font-size: 18px;
  font-family: "NotoSans";
  font-weight: regural;
}

body {
  margin: 0;
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
  background: url(../img/overlay.png), linear-gradient(90deg, lighten($darkColor, 15%), $darkColor);
  word-break: keep-all;

  @include theme;
  &.dark {
    @include theme($darkColor);
  }
}

::-webkit-scrollbar {
  background-color: $darkColor;
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: lighten($darkColor, 20%);
}

//모바일 인터페이스 개선

@media screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }
  #main {
    margin: 0.5em;
  }
  a,
  button {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
  }
  button:focus {
    border: none;
    outline: none;
  }
}
